<!DOCTYPE html>
<html>
    <head>
    <title>Websocket test</title>
    </head>
    
    <body>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <pre id="log"></pre>
    <script>
    var i = 0;
// helper function: log message to screen
  function log(msg) {
    document.getElementById('log').textContent += msg + '\n';
  }

  // setup websocket with callbacks
  var ws = new WebSocket('ws://localhost:5151/ws');
  ws.onopen = function() {
    log('CONNECT');
    //setInterval(function(){ ws.send("Message number "+i); i +=1; }, 3000);
  };
  ws.onclose = function() {
    log('DISCONNECT');
  };
  ws.onmessage = function(event) {
    log('MESSAGE: ' + event.data);
  };

  document.getElementById("start").addEventListener('click', function(){
    ws.send(JSON.stringify({msg_type: 'log_start', msg: {service_name: "stackdemo_web", tail: 0}}))
  })

  document.getElementById("stop").addEventListener('click', function(){
    ws.send(JSON.stringify({msg_type: 'log_stop', msg: ""}))
  })

</script>
</body>
</html>

