*.rdb
*.bak
*.sql
*.csv
*.db
web/app/views/**/*
web/app/web
/web/source/build/**/*
dist
target
docs/
importadores/hos/neo4j
importadores/hos/data
mobloja-aguiar-ok
apk
*.bkp
.update_backup
*_backup
.dart_tool/
*.tmp
platforms-tmp
ipa
*/**/.idea
screens/**/*
screens
node_modules
*-lock*
.bsp
